{% extends './bootstrap/base.html' %}
{% load static %}

{% block contenido %}
<h1>Aqui podra ingresar nuevas preguntas, cuando ingrese las respuestas presione Enter al final de cada respuesta</h1>

<form action="{% url 'administrador' %}" method="post" id="admin">
    {% csrf_token %}

    <label for="fname">Pregunta:</label>
    <input type="text" id="fname" name="pregunta" size= "70" required= True>
    

    <label for="categoria">Seleccione una categoria:</label>
    
  
  <div>
  <select name="categoria" id="categorias" >
      {%for cada_categoria in categorias%}
            <option value="{{cada_categoria.nombre}}_{{cada_categoria.id}}">{{cada_categoria.nombre}}</option>
      {%endfor%}
  </select>
</div>
  
  <label for="respuesta">Ingrese las respuestas una debajo de la otra:</label>
  <textarea placeholder="Coloque * al principio de la respuesta correcta" rows="10" cols="70" id="respuesta" name="respuesta" required= True></textarea>
<br>
  <input type="submit" value="GUARDAR">
  </form>
  <br>
  <h1>{{mensaje}}</h1>
  

{% endblock contenido %}
