{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>PROVINCIALIZACION</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
	<div style="margin-bottom: 100px;" class="login">
		
		{% if user.is_authenticated %}
			<span>{{user.username}}</span>
			<a href="{% url 'logout' %}">LOGOUT</a>
		{% else %}
			<a href="{% url 'login' %}">LOGIN</a>
		{% endif %}
		</div>
		<div style="margin-bottom: 100px;padding: 20px;" class="menu">
			<a href="{% url 'partida'  %}"><h1>Partida</h1></a>
		</div>
		<div style="margin-bottom: 100px; padding: 20px;" class="menu">
			<a href="{% url 'estadistica'  %}"><h1>Ranking Jugadores</h1></a>
		</div>
	</header>






{% block contenido %}



{% endblock contenido %}


</body>
</html>
