{% extends './bootstrap/base.html' %}
{% load static %}

{% block contenido %}
<style>
    table{
        margin-left: auto;
        margin-right: auto;
    }
   
   tr{
      
        border-width: 0.10cm;
        border-style: solid;
        border-color: #6495ED;
  
    }
    td{
        border-width: 0.10cm;
        border-style: solid;
    }
    h1{

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
</style>

<h1>Ranking Jugadores por puntaje acumulado</h1><br>
<br>
<table>
{% for linea, detalle in usuario.items %}

    <tr>
        <td><h1>{{forloop.counter}}-  </h1></td>
        <td><h1>{{linea}}:</h1></td>
        <td><h1>{{detalle.0}}</h1></td>
        <td><h1>{{detalle.1}}</h1></td> 
        <td><h1>efectividad: {{detalle.2}}</h1></td> 
    </tr>

{% endfor %}
</table>

{% endblock contenido %}
