{% extends './bootstrap/base.html' %}
{% load static %}



{% block contenido %}
<div id="pregunta">

    <h2 id="puntaje" >Puntaje: {{puntaje}}     Nivel: {{nivel}}</h2>
   
  <h4>Estas respondiendo categoria: {{categoria}}</h4>
  
    <h1>{{pregunta}}</h1><h2>{{mensaje}}</h2>

</div>
  <form id = "preguntero" action="{% url 'partida'  %}" method="post">
    {% csrf_token %}

    {% for r in respuestas %}
      <!-- <input type="checkbox" name="respuesta" value="{{ r }}">{{ r.texto }}<br> -->
    <p>
      <input type="checkbox" name="respuesta" value="{{ r.id }}_{{ r.pregunta_id }}">  {{ r.texto }}
    </p>
      {% endfor %}
    
    <input type="submit" value="LISTO">
  </form>
  <a id="terminar" href="{% url 'borrar'  %}"><h3>TERMINAR EL JUEGO</h3></a>
{% endblock contenido %}
