<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
		{{form.errors}}
		<input type="text" name="first_name" placeholder="nombre">
		<input type="text" name="last_name" placeholder="apellido">
        <input type="password" name="password1" placeholder="password">
        <input type="password" name="password2" placeholder="password">
        
        
		
		<input type="submit" name="" value="LOGIN">

	</form>
</body>
</html>