
header{
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: #6c757d;
  background-color:#00ADB5;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
 
  
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#3475ca;
	border-radius:50px;
}
img{
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 30%;

}
section{
  height:250px ;
  width:800px;
  
  margin: 20px 20px 20px 200px;
  padding: 10px 10px 10px 10px;
  
  border-width: 0.5cm;
  border-style: solid;
  border-color: rgb(39, 87, 114);
  background: rgb(24, 141, 187);
}



form {
 
  background:#1ab188;
  padding: 30px;
  max-width:600px;
  margin:30px auto;
  border-radius:2%;
  box-shadow: 10px 13px 37px #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
 
}

input{
	width: calc(100% - 10px);
	padding: 7px;
	margin: auto;
	margin-top: 8px;
	font-size: 16px;
  border-radius: 1.5%;
  
  
 

}



.registrar{
  
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#pregunta{
  
  text-align: center;
}

#puntaje {
  text-align:center;
}

#terminar{
  text-align: center;
}

#es_hora{
  font-size: 2.5rem;
}

input[type='submit']{
	background-color: #48e;
	box-shadow: 10px 13px 37px #000;
	color: #fff;
	width: calc(50% - 20px);
	margin: 0 25%;
	margin-top: 22px;
	border: none;

  
	
	
	
	
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 6px;

    color: rgb(237, 234, 240);
    text-align: var(--bs-body-text-align);
    background-color: #393E46;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .principal {
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    
    background-color:#44D7A8;
    color: rgb(237, 234, 240);
    
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  a{
    text-align:right;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #AAD8D3;
  }
  
  
  span {
    font-size: calc(1.022rem + 0.6vw);
    text-shadow: rgb(23, 26, 29);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
  .head-boton{
    text-decoration: none;
      width: 30px;
  }
  
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem;
    }
  }
  
  h5, .h5 {
    font-size: 1.25rem;
  }
  
  h6, .h6 {
    font-size: 1rem;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
    text-align: center;
  }
  
  .login{
    padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  }
  
  button {
    border-radius: 0;
  }
  
  button:focus:not(:focus-visible) {
    outline: 0;
  }
  
  
  
  button,
  select {
    text-transform: none;
    
  }
  
  [role=button] {
    cursor: pointer;
  }
  
  